@mixin rsvpButton {
    color: $colorLight;

    font-size: 1rem;
    text-decoration: none;
    border: 1px solid $colorLight;
    transition: all 0.5s;

    &:hover {
        background: $colorLight;
        color: $colorDark;
    }
}

@mixin actionSetLocationSize($xOffset, $yOffset, $width, $align: inherit) {
    position: relative;
    width: $width;
    transform: translate($xOffset, $yOffset);
    align-self: $align;
}

@mixin articleBearContent {
    display: flex;
    flex-direction: column;
    // justify-items: center;

    & > p {
        padding-bottom: 2rem;
    }

    &_text {
        display: flex;

        &_left {
            width: 50%;
            line-height: 0.9;
        }

        &_right {
            width: 50%;
            > p:first-of-type {
                font-family: $fontLarish;
                font-size: 1.9rem;
                padding-bottom: 1.6rem;
            }
        }
    }

    &_images {
        display: flex;
        align-items: center;
        z-index: 1;

        &_img1 {
            @include actionSetLocationSize(0, 15vh, 65%);
        }
        &_img2 {
            @include actionSetLocationSize(-5vw, 17.5vh, 35%);
        }
    }
}
