// colors used in the project
$colorLight: #fff;
$colorDark: #000;

$fontLarish: "LarishNeue";
$fontWork: "OpenSans";

$defaultMarginHorizontal: 7%;

$animatedCircle: animatedCircle;
$animatedText: animatedText;
