//****************************************************************************
//  Assets:
//      * Fonts: WorkSans, LarishNeue
//      * Colors: #fff / #000

// colors used in the project
$colorLight: #fff;
$colorDark: #000;

// fonts used in the project
$fontLarish: "LarishNeue";
$fontWork: "OpenSans";

// the default horizontal margin/padding
$defaultMarginHorizontal: 7%;
