@font-face {
    font-family: "LarishNeue";
    src: url("../fonts/Larish\ Neue\ Semibold.woff2") format("woff2"),
        url("../fonts/LarishNeueSemibold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
