//****************************************************************************
// life is easier if all kind of things are sorted (somehow...)
@import "imports/fonts";
@import "imports/variables";
@import "imports/mixins";
@import "imports/animations";

// Assets:
// Fonts: WorkSans, LarishNeue
// Colors: #fff / #000

// Hints:
// search for -webkit-text-stroke and -webkit-text-stroke-color

// button RSVP (répondez s'il vous plaît)

* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    img {
        width: 100%;
    }

    body {
        font-family: $fontWork;
    }

    h1 {
        font-family: $fontLarish;
        font-size: 7rem;
    }
    h2 {
        font-family: $fontLarish;
        font-size: 4rem;
    }

    .stroke {
        color: $colorDark;
        -webkit-text-stroke: 1px $colorLight;
        font-weight: 400;
    }
}

//****************************************************************************

.intro {
    padding: 0% $defaultMarginHorizontal;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;

    background-color: $colorDark;
    color: $colorLight;

    font-family: $fontWork;

    &_line {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        border-right: 1px solid $colorLight;
        height: 30vh;
        opacity: 0.3;
        align-self: start;
        margin-bottom: 5vh;
    }

    &_text {
        grid-column: 1 / span 4;
        grid-row: 1 / span 3;
        text-align: center;

        & h1 {
            line-height: 0.8;
        }
        & p {
            padding: 4%;
        }
    }

    .grizzly {
        grid-column: 1/2;

        grid-row: 3/4;
        justify-self: start;
        align-self: end;

        margin-bottom: 20%;

        width: 5vw;
        transition: transform 0.5s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .rsvp {
        @include rsvpButton;

        grid-row: 3/4;

        grid-column: 4/5;
        justify-self: end;
        align-self: end;

        margin-bottom: 20%;

        padding: 5% 15%;
    }
}

//****************************************************************************

.info {
    background-color: $colorDark;
    padding: $defaultMarginHorizontal 12% 0% $defaultMarginHorizontal;

    &_h1 {
        color: $colorLight;
        font-size: 6rem;
    }
}

//****************************************************************************

.stats {
    background-color: $colorDark;
    color: $colorLight;

    padding-left: $defaultMarginHorizontal;
    display: grid;
    grid-template-columns: 6fr 5fr;
    padding-bottom: 20vh;

    &_text {
        align-self: end;
        p {
            padding: 2% 0;
        }
    }
}

//****************************************************************************

.action {
    background: $colorLight;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &_text {
        width: 38vw;
        h1 {
            font-size: 5.5rem;
            font-weight: 900;
            line-height: 1;
            padding-bottom: 0.8rem;
        }
        p {
            font-size: 1em;
            letter-spacing: 0.06rem;
            font-weight: 600;
            line-height: 1.8;
        }
    }
    &_img1 {
        @include actionSetLocationSize(25vw, -7vw, 35vmin);
    }
    &_img2 {
        @include actionSetLocationSize(-35vw, 5vh, 25vmin);
    }
    &_img3 {
        @include actionSetLocationSize(0, -5vh, 25vmin, flex-end);
    }
    &_img4 {
        @include actionSetLocationSize(-22vw, -5vh, 32vmin);
    }
    &_img5 {
        @include actionSetLocationSize(+27vw, -7vh, 30vmin);
    }
    &_img6 {
        @include actionSetLocationSize(0, -17vh, 25vmin, flex-start);
    }
    &_img7 {
        @include actionSetLocationSize(15vw, 6vh, 40vmin);
    }
}

//****************************************************************************
.bears {
    &_golden {
        @include articleBearContent();

        background: $colorDark;
        color: $colorLight;

        padding: 20vh $defaultMarginHorizontal 0;
    }
    &_poppy {
        @include articleBearContent();

        background: $colorLight;
        color: $colorDark;

        padding: 0 $defaultMarginHorizontal 25vh;

        &_images {
            flex-direction: row-reverse;
            &_img2 {
                @include actionSetLocationSize(+5vw, 17.5vh, 35%);
            }
        }
    }

    &_animation {
        // overflow: hidden is neccessary fo the animated circle
        overflow: hidden;
        position: relative;
        top: -10vh;
        left: 75vw;
        &_img {
            width: 35%;
            animation: $animatedCircle 5s linear 0s infinite forwards;
        }
        z-index: 0;
    }
}

//****************************************************************************

.contact {
    min-height: 100vh;
    overflow: hidden;
    background: $colorDark;

    .rsvp {
        @include rsvpButton;
        align-self: flex-end;
        margin-bottom: 3%;
    }

    &_animation {
        border: 1px solid white;
        transform: rotate(45deg) translate(30vw, -5vh);

        &_text {
            font-family: $fontLarish;

            white-space: nowrap;

            background: $colorLight;
            opacity: 0.9;
            color: $colorDark;
            font-size: 6rem;
            font-weight: 600;
            & span {
                color: $colorLight;
                -webkit-text-stroke: 1px $colorDark;
                font-weight: 400;
            }

            animation: $animatedText 2s linear 0s infinite alternate;
        }
    }

    footer {
        background: $colorDark;
        color: $colorLight;
    }
}
