//****************************************************************************
// life is easier if all kind of things are sorted (somehow...)
@import "imports/fonts";
@import "imports/variables";
@import "imports/mixins";
@import "imports/animations";

//****************************************************************************
//  Some global settings
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;

    body {
        font-family: $fontWork;
    }

    h1 {
        font-family: $fontLarish;
        font-size: 6rem;
    }
    h2 {
        font-family: $fontLarish;
        font-size: 4rem;
    }

    .stroke {
        color: $colorDark;
        -webkit-text-stroke: 1px $colorLight;
        font-weight: 400;
    }
}

//****************************************************************************
//  Intro section
.intro {
    background-color: $colorDark;
    color: $colorLight;

    padding: 0% $defaultMarginHorizontal;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_line {
        border-right: 1px solid $colorLight;
        width: 50%;
        height: 30vh;
        opacity: 0.3;
        align-self: start;
        margin-bottom: 1vh;
    }

    &_text {
        padding: 0 0 25%;
        text-align: center;

        & h1 {
            line-height: 0.8;
        }
        & p {
            padding: 2%;
        }
    }

    &_links {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .grizzly {
            width: 8vw;
            transition: transform 0.5s;
            &:hover {
                transform: scale(1.2);
            }
        }
        .rsvp {
            @include rsvpButton;
            padding: 1.5% 4%;
        }
    }
}

//****************************************************************************
//  Info section: What's this page about
.info {
    background-color: $colorDark;
    padding: $defaultMarginHorizontal 12% 0% $defaultMarginHorizontal;

    &_h1 {
        color: $colorLight;
        font-size: 6rem;
    }
}

//****************************************************************************
//  Stats section: some statistics
.stats {
    background-color: $colorDark;
    color: $colorLight;

    padding-left: $defaultMarginHorizontal;
    display: grid;
    grid-template-columns: 6fr 5fr;
    padding-bottom: 20vh;

    &_text {
        align-self: end;
        p {
            padding: 2% 0;
        }
    }
}

//****************************************************************************
//  Action section: The California Grizzly as the crest animal for our action
.action {
    background: $colorLight;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &_text {
        width: 38vw;
        h1 {
            font-size: 5.5rem;
            font-weight: 900;
            line-height: 1;
            padding-bottom: 0.8rem;
        }
        p {
            font-size: 1em;
            letter-spacing: 0.06rem;
            font-weight: 600;
            line-height: 1.8;
        }
    }
    &_img1 {
        @include actionSetLocationSize(25vw, -7vw, 35vmin);
    }
    &_img2 {
        @include actionSetLocationSize(-35vw, 5vh, 25vmin);
    }
    &_img3 {
        @include actionSetLocationSize(0, -5vh, 25vmin, flex-end);
    }
    &_img4 {
        @include actionSetLocationSize(-22vw, -5vh, 32vmin);
    }
    &_img5 {
        @include actionSetLocationSize(+27vw, -7vh, 30vmin);
    }
    &_img6 {
        @include actionSetLocationSize(0, -17vh, 25vmin, flex-start);
    }
    &_img7 {
        @include actionSetLocationSize(15vw, 6vh, 40vmin);
    }
}

//****************************************************************************
//  Bears section: artist designs
.bears {
    // overflow: hidden is neccessary fo the animated circle
    overflow: hidden;

    &_golden {
        @include articleBearContent();

        background: $colorDark;
        color: $colorLight;

        padding: 20vh $defaultMarginHorizontal 0;
    }
    &_poppy {
        @include articleBearContent();

        background: $colorLight;
        color: $colorDark;

        padding: 0 $defaultMarginHorizontal 25vh;

        &_images {
            flex-direction: row-reverse;
            &_img2 {
                @include actionSetLocationSize(+5vw, 17.5vh, 35%);
            }
        }
    }

    &_animation {
        position: relative;
        display: inline-block;
        top: -10vh;
        left: 75vw;
        height: auto;
        &_img {
            width: 50%;
            animation: animatedCircle 5s linear 0s infinite forwards;
        }
    }
}

//****************************************************************************
//  Contact section: save the day, links to social media and NGOs
.contact {
    min-height: 100vh;

    background: $colorDark;
    color: $colorLight;

    padding: 0 $defaultMarginHorizontal;

    // set overflow to hidden to hide parts of the banner which are out of the section!
    overflow: hidden;

    &_text {
        padding-top: 10%;
        width: 40%;
        > h3 {
            font-family: $fontLarish;
            font-size: 2em;
            padding: 5% 0 10%;
        }
    }

    .rsvp {
        @include rsvpButton;
        padding: 3% 8%;
        margin-bottom: 3%;
        font-weight: 600;
    }

    &_animation {
        display: flex;
        justify-items: flex-end;
        align-items: center;

        width: 300vw;

        &_text {
            transform: rotate(45deg);
            font-family: $fontLarish;

            background: $colorLight;
            color: $colorDark;

            opacity: 0.9;
            font-size: 6rem;
            font-weight: 600;
            & span {
                color: $colorLight;
                -webkit-text-stroke: 1px $colorDark;
            }

            animation: animatedText 5s linear 0s infinite forwards;
        }
    }

    .footer {
        padding-top: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_left {
            &_social img {
                width: 10%;
            }
            > p {
                padding-top: 10%;
            }
        }

        &_logos img {
            width: 20%;
        }
    }
}
